.custom-pagination .pagination {
    gap: 10px;
    justify-content: center;
}

.custom-pagination .page-link {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid #e6dfd8;

    background: #faf9f5;
    color: #3d3d3a;

    transition: .25s;
}

.custom-pagination .page-link:hover {

    background: #efe9de;
    border-color: #cc785c;
}

.custom-pagination .page-item.active .page-link {

    background: #cc785c;
    border-color: #cc785c;
    color: white;
}